<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign up</title>
</head>
<body>
  <h1>Sign Up</h1>
  <a href="/login">Login</a>
  <a href="/">Index</a>
  <form action="" method="POST">
    <label for="firstname">First name</label>
    <input name="firstname" placeholder="first name" type="text" />
    <label for="lastname">Last name</label>
    <input name="lastname" placeholder="last name" type="text" />
    <label for="username">Username</label>
    <input name="username" placeholder="username" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <button>Sign Up</button>
  </form>
</body>
</html>